# Ignore node_modules
node_modules

# Ignore build artifacts
dist

# Ignore logs
*.log

# Ignore git files
.git
.gitignore

# Ignore editor config files
.vscode
*.swp

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.env
*.DS_Store